// .body {
//   position: absolute;
//   top: 10em;
//   color: white;
//   left: 6.3em;
// }

.body {
  text-align: center;
  color: white;
  position: relative;
  top: -36em;
  font-size: x-large;

}